{
    "executable": "{{ path }}",
    "arch": "x86_64",
    "load_address" : "0x000000",
    "libraries": [],
    "force_code_locations": [],
    "preconditions": [
                      ["IRDst", "{{ ret_addr }}", 64],
                      ["RSP", "0x00007fffffffe498", 64]
                  ],
    "postconditions": [
                      ["IRDst", "{{ mmap_addr }}", 64],
                      ["RDI",  "0x41414000", 64],
                      ["RSI",  "0x1000", 64],
                      ["RDX",  "0x7", 64],
                      ["RCX",  "0x32", 64],
                      ["R8",  "0xffffffffffffffff", 64],
                      ["R9",  "0x0", 64]
                  ],
    "ptr_postconditions": [],
    "read_mem_areas": [{{ read_seg_str }}],
    "write_mem_areas": [{{ write_seg_str }}]
}
